section {border:1px solid red;

padding-top:20px;
    padding-bottom:20px;

}

canvas{display: block;
border: 1px solid black;
    margin: 10px auto 0px;


}
button{outline:0; border:0;}
#drawingTools
{
border:1px solid green; 
    width:800px;
    height:130px;
    margin: 0px auto;
    
}

#colors { 
    width:100%;
    height:20px;
    border: 1px solid blue;


}

#colors button { 
    width:20%;
    height:10px;
    float: left;


}

#colors button:hover {opacity:0.5;}

#black{background:black;}
#white{background:white;}
#red{background:red;}
#green{background:green;}
#blue{background:blue;}



#otherTools
{
    width:100%;
    height:60px;
    
}

#otherTools button
{
    width: 20%;
    height:50px;
    margin-top:5px;
    background:#303030;
    color:white;
    cursor: pointer;
    float:left;
}


#otherTools button:hover{opacity:0.5;}


#otherTools button:hover {opacity:0.5;}


#clearCanvas{font:25px impact;}
#brushSize1{font:10px impact;}
#brushSize2{font:20px impact;}
#brushSize3{font:30px impact;}
#brushSize4{font:40px impact;}
#fillCanvas{font:25px impact;}


#buttBrush, #squareBrush,#roundBrush {font:18px existence;}
#otherTools #openFile{font:25px existence;}

#file{opacity:0;}
